{% extends 'base.html' %}
{% block content %}
	<div id="booking" style="margin:3.5%"class="section">
		<div class="section-center">
			<div class="container">
				<div class="row" style="display:block;">

					<div class="booking-form">
						<div class="booking-bg"></div>
						<form action="/Landlord/addlanddetail/" enctype="multipart/form-data" method="POST">
							{% if message != NULL %}
								<h6 style="color: red;">{{message}}</h6>

							{% endif %}
						{% csrf_token%}
							<div class="form-header">
								<h2>ADD PARKING DETAILS</h2>				
							</div>
							{{ form.non_field_errors }}

							<div class="form-group">
								{{ form.address.errors }}
								{{ form.address }}
									<span class="form-label" for="{{ form.address.id_for_label }}">Address</span>
							</div>
							<div class="form-group">
								{{ form.no_of_spot.errors }}
								{{ form.no_of_spot }}
								<span class="form-label" for="{{ form.no_of_spot.id_for_label }}">no_of_spot</span>
							</div>
							<div class="form-group">
								{{ form.description.errors }}
								{{ form.description }}
								<span class="form-label" for="{{ form.description.id_for_label }}">description</span>
							</div>
							<div class="form-group" style="color: white;">
								
								<span style="color: red;">{{ form.image.errors }}</span>
								{{ form.image }}
								<span class="form-label" for="{{ form.images.id_for_label }}">Image</span>
							</div>
							<div class="form-group">
								{{ form.price_per_hour.errors }}
								{{ form.price_per_hour }}
								<span class="form-label" for="{{ form.price_per_hour.id_for_label }}">price_per_hour( $ )</span>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group">
									{{ form.area.errors }}
									{{ form.area }}
									<span class="form-label" for="{{ form.area.id_for_label }}">area</span>
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										{{ form.city.errors }}
										{{ form.city }}
										<span class="form-label" for="{{ form.city.id_for_label }}">city</span>
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										{{ form.state.errors }}
										{{ form.state }}
										<span class="form-label" for="{{ form.state.id_for_label }}">state</span>
									</div>
								</div>
							</div>
							<div class="row" style="display:flex;">
								<div class="col-md-6">
									<div class="form-group">
										{{ form.start_date.errors }}
										{{ form.start_date }}
										<span class="form-label" for="{{ form.start_date.id_for_label }}">start date</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										{{ form.end_date.errors }}
										{{ form.end_date }}
										<span class="form-label" for="{{ form.end_date.id_for_label }}">end date</span>
									</div>
								</div>
							</div>
							<input type="checkbox" id="ckb1" onclick="getLocation()" required> <span style="color:white">Enable Location</span>
							<div class="row">
									{{ form.langitude }}
									{{ form.lattitude }}
									{{ form.verified  }}
									<input type="hidden" name="userid" id="userid" value={{userid}}>
									
								<div class="col">
										<div class="form-btn">
											<button class="submit-btn">Add Now</button>
										</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
		<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
	
<script>
var langitude = document.getElementById("langitude");
var lattitude = document.getElementById("lattitude");
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}
function getAvailablity() {
    var x=document.getElementById("no_of_spot").value;
	document.getElementById("availability").value = x;
}
function showPosition(position) {
	lattitude.value = position.coords.latitude;
	langitude.value = position.coords.longitude;
}
</script>
<script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
	</script>

{% endblock %}
	
