

{% extends 'base.html' %}
{% block content %}
	<div style="overflow-x:auto;">
        <table class="table table-striped centered">
        <tr class="table-primary">
            <th>Date</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>User Mobile Number</th>
            <th>User Age</th>
        </tr>
        {% for land in LandRecord %}
            <tr>
                <td>{{land.start_date}}</td>
                <td>{{land.name}}</td>
                <td>{{land.email}}</td>
                <td>{{land.mobile_no}}</td>
                <td>{{land.age}}</td>
            </tr>
        {% endfor %}
        </table>
        {% if not LandRecord %}
            <div style="text-align:center;font-family:Christmas;margin:40px;" ><h3>Not Used Yet</h3></div>
        {% endif %}
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="/static/vendor/select2/select2.min.js"></script>

	<script src="/static/js/login.js"></script>
	<script type="text/javascript" src="/static/js/materialize.min.js"></script>
	<script type="text/css" rel="stylesheet" src="/static/css/materialize.min.css" ></script>

    {% endblock %}
