{% extends 'base.html' %}

{% block content %}
<div style="align-items:center;"><h3 class="card-panel fray" style="background-color:darkgreen;margin: 60px;padding: 10px 20px;text-align: center;align-items: center;"> Approval Needed</h3></div>
<div style="margin:60px;margin-top: 20px;">
<table class="table table-bordered table-hover centered">
  <thead>
    <tr>
      <th class="card-panel teal" onclick="approve('lattitude')" style="cursor: grab;">Latitude</th>
      <th class="card-panel teal" onclick="approve('langitude')" style="cursor: grab;">Longitude</th>
      <th class="card-panel teal" onclick="approve('address')" style="cursor: grab;">Address</th>
      <th class="card-panel teal" onclick="approve('no_of_spot')" style="cursor: grab;">No Of Spots</th>
      <th class="card-panel teal" onclick="approve('description')" style="cursor: grab;">Description</th>
      <th class="card-panel teal" onclick="approve('price_per_hour')" style="cursor: grab;">Price_Per_Hour</th>
      <th class="card-panel teal" onclick="approve('start_date')" style="cursor: grab;">Start_Date</th>
      <th class="card-panel teal" onclick="approve('end_date')" style="cursor: grab;">End_Date</th>
      <th class="card-panel teal" onclick="approve('lattitude')" style="cursor: grab;">Approve</th>
    </tr>
  </thead>
  <tbody>
    {% if app == "approve" %}

    {% endif %}
    {% for user in users %}
      <form action="/admin_role/approveLand/" method="POST">
      {% csrf_token %}
      <tr>
        <input type="hidden" name="landid" value="{{ user.landid }}">
        <td>{{ user.lattitude }}</td>
        <td>{{ user.langitude }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.no_of_spot }}</td>
        <td>{{ user.description }}</td>
        <td>{{ user.price_per_hour }}</td>
        <td>{{ user.start_date }}</td>
        <td>{{ user.end_date }}</td>
        {% if user.verified %}<td><button type="submit" class="btn btn-success ">Verification Required</button></td>{% endif %}
        {% if not user.verified %}<td><i class="fa fa-check" aria-hidden="true"></i> Done</td>{% endif %}
      </tr>
     </form>
    {% endfor %}
  </tbody>
</table>
<script>
  

  function approve($this){
    console.log("button clicked");
    var request_data = $this;
    console.log("data: " + request_data);
    var url = "{% url 'UserShortedView' %}";
    console.log("url : "+url);
    var id = $this;
    console.log(url + "/" + id);
 
    document.location.href = '/admin_role/sortLand/?id='+ id;
  }
</script>
<div  style="margin-left: 40%;">
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li style="padding: 18px;font-size: 18px;"><a href="?page={{ page_obj.previous_page_number }}"><span style="font-size: 20px;">&laquo;</span></a></li>
    {% else %}
      <li class="disabled" style="padding: 18px;"><span style="font-size: 20px;">&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active btn btn-success"><span><h3>{{ i }} </h3><span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="btn" style="padding: 15px;color: black;font-size: 10px;"><a href="?page={{ i }}"><h3>{{ i }}</h3></a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li style="padding: 18px;font-size: 8px;"><a href="?page={{ page_obj.next_page_number }}"><span style="font-size: 20px;">&raquo;</span></a></li>
    {% else %}
      <li class="disabled" style="padding: 18px;"><span style="font-size: 20px;">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
</div>
<a href="{% url 'Home' %}"><button class="btn btn-primary" style="margin-left:60px">Home</button></a>
{% endblock %}
