

{% extends 'base.html' %}
{% block content %}
<div style="align-items:center;"><h3 class="card-panel fray" style="margin: 20px 50px;padding: 10px 20px;text-align: center;background-color: cornflowerblue;"> Land Details</h3></div>
    {% if message != None %}
		<div style="width:100%;	height:50px;"class=" alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
			{{message}}
        </div>
	{% endif %}
</div>
    {% if page == None %}
	<div style="overflow-x:auto;">
        <table class="table table-striped centered">
        <tr class="table-primary">
            <th>Address</th>
            <th>City</th>
            <th>Area</th>
            <th>State</th>
            <th>Number of spot</th>
            <th>Description</th>
            <th>Price per Hour</th>
            <th>Distance(km)</th>
			<th>Path</th>
			<th>Book</th>
			<th style="width: 250px;text-align:center">Image</th>
        </tr>
        {% for land in Land %}
        <form action="/User/reserveparking/" method="POST">
        {% csrf_token%}
            <tr>
                <td>{{land.address}}</td>
                <td>{{land.city}}</td>
                <td>{{land.area}}</td>
                <td>{{land.state}}</td>
                <td>{{land.no_of_spot}}</td>
                <td>{{land.description}}</td>
                <td>{{land.price_per_hour}}</td>
                <td>{{land.distance}}</td>
                
                <td><a href="http://maps.google.com/?q={{land.lattitude}},{{land.langitude}}" target="_blank" class="btn btn-success">Map</a></td>
                <td><input type="submit" value="Reserve"class="btn btn-success"></input></td>
                <td colspan="2"><img style="width: 200px;height: 200px;" src="/media/{{land.image}}"> </td>
				<td>
                    <input type="hidden" name="landid" value="{{ land.landid }}">
                    <input type="hidden" name="date" value="{{ Date }}">
                    <input type="hidden" name="price" value="{{ land.price_per_hour }}">
                </td>
            </tr>
        </form>
        {% endfor %}
        </table>
		</div>
    {% endif %}
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="/static/vendor/select2/select2.min.js"></script>

	<script src="/static/js/login.js"></script>
    <!-- <script type="text/javascript" src="/static/js/materialize.js"></script>
    <script src="/static/css/materialize.css" ></script> -->
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/css" rel="stylesheet" src="/static/css/materialize.min.css" ></script>

    {% endblock %}
