

{% extends 'base.html' %}
{% block content %}
<div style="align-items:center;"><h3 class="card-panel fray" style="margin: 20px 50px;padding: 10px 20px;text-align: center;background-color: cornflowerblue;"> Land Details</h3></div>
    {% if message != None %}
		<div style="width:100%;	height:50px;"class=" alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
			{{message}}
        </div>
	{% endif %}
</div>
<div style="margin-left: 40%;">
    {% if page_obj.has_other_pages %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li style="padding: 18px;font-size: 18px;"><a href="?page={{ page_obj.previous_page_number }}&rdate={{Date}}"><span style="font-size: 20px;">&laquo;</span></a></li>
      {% else %}
        <li class="disabled" style="padding: 18px;"><span style="font-size: 20px;">&laquo;</span></li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active btn btn-success"><span><h3>{{ i }} </h3><span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="btn" style="padding: 15px;color: black;font-size: 10px;"><a href="?page={{ i }}&rdate={{Date}}"><h3>{{ i }}</h3></a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li style="padding: 18px;font-size: 8px;"><a href="?page={{ page_obj.next_page_number }}&rdate={{Date}}"><span style="font-size: 20px;">&raquo;</span></a></li>
      {% else %}
        <li class="disabled" style="padding: 18px;"><span style="font-size: 20px;">&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
 
  </div>
    {% if page == None %}
	<div style="overflow-x:auto;">
        <table class="table table-striped centered">
        <tr class="table-primary">
            <th>Address</th>
            <th>City</th>
            <th>Area</th>
            <th>State</th>
            <th>Number of spot</th>
            <th>Description</th>
            <th>Price per Hour</th>
            <th>Distance(km)</th>
			<th>Path</th>
			<th>Book</th>
			<th style="width: 250px;text-align:center">Image</th>
        </tr>
        {% for land in page_obj %}
       
        <form action="/User/reserveparking/" method="POST">

        {% csrf_token%}
            <tr>
                <td>{{land.address}}</td>
                <td>{{land.city}}</td>
                <td>{{land.area}}</td>
                <td>{{land.state}}</td>
                <td>{{land.no_of_spot}}</td>
                <td>{{land.description}}</td>
                <td>{{land.price_per_hour}}</td>
                <td>{{land.distance}}</td>
                <td><a href="http://maps.google.com/?q={{land.lattitude}},{{land.langitude}}" target="_blank" class="btn btn-success">Map</a></td>
                <td><input type="submit" value="Reserve"class="btn btn-success"></input></td>
                <td colspan="2"><img style="width: 200px;height: 200px;" src="/media/{{land.image}}" alt="Land Picture"> </td>
				<td>
                    <input type="hidden" name="landid" value="{{ land.landid }}">
                    <input type="hidden" name="date" value="{{ Date }}">
                    <input type="hidden" name="price" value="{{ land.price_per_hour }}">
                </td>
                <input type="hidden" id="date" name="date" value="{{Date}}" >
            </tr>
        </form>
        {% endfor %}
        </table>
        {% if not page_obj %}
            <div style="text-align:center;font-family:Christmas;margin:40px;" ><h3>No Lands Available!! Sorry</h3></div>
        {% endif %}
		</div>
    {% endif %}
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="/static/vendor/select2/select2.min.js"></script>

	<script src="/static/js/login.js"></script>
    <!-- <script type="text/javascript" src="/static/js/materialize.js"></script>
    <script src="/static/css/materialize.css" ></script> -->
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/css" rel="stylesheet" src="/static/css/materialize.min.css" ></script>

    {% endblock %}
